
.intro-section {
    background: #0085A1; /* Fond blanc pour la boîte */
    max-width: 800px;
    margin: 40px auto;
    padding: 20px 30px;
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Ombre douce */
    color: #1A1A1A; /* Texte bleu nuit */
}